
@using supplier_dashboard_1._0.Models;
@{

    Layout = "~/Views/Masterpages/Layout_dashboard.cshtml";
    ViewBag.Title = "Welcome To Supplier Dashboard - Vendor Assistance";
    if (Session["UI"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@{ var userID=Convert.ToInt32(Session["userdesc"]);
    string result;
    string result2;
    using (db_vendorEntities_ entity = new db_vendorEntities_())
    {
        result = (from o in entity.user_desc
                  where o.user_descId == userID
                  select o.fullname).FirstOrDefault();

        result2 = (from o in entity.user_desc
                  where o.user_descId == userID
                  select o.company).FirstOrDefault();
    }
    Session["fullname"] = result;

    Session["company"] = result2;

}
<style>
    body{
        font-size:13px;
    }
</style>
<div>
    <h1 style="font-size:16px;">Dashboard</h1>
    <h3 style="font-size:13px;">
        Mr / Mrs : @result
    </h3>
    @*<a href="@Url.Action("LogOut","Home")">LogOut</a>*@
</div>

